*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header style */
nav ul li a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    font-weight: bold;
  
}
nav ul li a:hover{
    color: #3ac2b2;
}
header img{
     margin-left: 10px;
    margin-top: 5px;
}
header{
    background-color: #6accbd;
    height: 100px;
}
nav ul {
    list-style-type: none; 
        margin-top: -61px;
    margin-left: 250px;

}
nav ul li{
    display: inline-block;
} 
/* Main Style */
.mainImg{
    width: 400px;
    height: 300px;
    border-radius: 30px;
    float: left;
    margin-right: 58px;
}
.main-Container{
    margin: 3%;
}
.mainP{
        /* font-size: 10px; */
    width: 1080px;
    text-align: justify;
    /* margin-left: 265px; */
    padding-top: 100px;
  
}

/* Our Courses Style */
#courses{
    clear: both;
    margin-top: 20px;
}
.card{
    width: 300px;
    background-color: aliceblue;
    padding: 20px;
     

}

.card img{
    width: 100%;

}
.container{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content:center;
} 
section h2{
    margin-top:150px;
    margin-bottom: 20px;
    color: #3ac2b2;
}
footer{
      background-color: #6accbd;
      color: black;
      font-size: 14px;
      padding: 40px 20px;

}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.footer-section{
    margin: 10px;
    flex:1 1 300px; 
}
.footer-section h4{
    color: white;
    margin-bottom: 10px;
}
.footer-section ul{
    list-style: none;

}

.footer-section ul li{
    margin-bottom: 8px;
}
.footer-section ul li a{
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover{
    /* color: #3ac2b2; */
    text-decoration: underline;
}
.footer-bottom{
    /* text-align: center; */
    animation-name: footerBottom;
    animation-delay: 2s;
       animation-duration: 8s;
       animation-iteration-count: infinite;
}
.social-icons a{
    color: black;
    font-size: 20px;
    /* transition: color 0.3s ease; */

}
@keyframes footerBottom {
    from{
        opacity: 0.3;
        transform: translateX(0);
        }
    to{
        opacity: 1;
         transform: translateX(100%);
      
    }
    
}
